$_font-family: roboto, system-ui, sans-serif;
@use "pkg:govuk-frontend/dist/govuk" with (
  $govuk-font-family: $_font-family,
  $govuk-brand-colour: #732282,
  $govuk-page-width: 1100px
);

// Use GOV.UK Eleventy Plugin components
@use "pkg:@x-govuk/govuk-eleventy-plugin";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}

html.govuk-template {
  background-color: #fff;
}

body, .govuk-template__body {
  background-color: #f5f5f5;
  color: #0b0c0c;
}

.govuk-template--rebranded .govuk-header {
  background-color: #fff;
  color: #0b0c0c;

  .govuk-header__container {
    border: none;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .govuk-header__link, .govuk-header__link:visited {
    color: #0b0c0c;
  }

  .govuk-header__link {

    svg {
      vertical-align: bottom;
    }

    .hods-header__logo-svg__vertical-line {
      fill: govuk.$govuk-brand-colour;
    }

    &:focus {
      background-color: govuk.$govuk-focus-colour;
      color: govuk.$govuk-focus-text-colour;

      .hods-header__logo-svg__vertical-line {
        fill: govuk.$govuk-focus-text-colour;
      }
    }
  }

  .govuk-header__logo img {
    vertical-align: bottom;
  }

  .govuk-header__link--homepage {
    background: transparent;
  }

  .app-site-search {
    @media (max-width: 62.25em) {
      width: 100%;
      margin-bottom: 10px;
    }

    .app-site-search__input {
      border: 1px #cbcbcb solid;
    }
  }
}

.govuk-footer {
  background-color: #fff;
  color: #0b0c0c;
  border: none;
  padding-top: 0;

  .govuk-width-container {
    border-top: 10px solid #cbcbcb;
    padding-top: 45px;
  }
}

// Update contrast to WCAG AA for code blocks
.app-code__string,
.x-govuk-code__doctag {
  color: #cb321a;
}

.app-code__comment,
.app-code__quote {
  color: #696e73;
}

.app-code__type,
.app-code__class .app-code__title {
  color: #6669a4;
}

.x-govuk-related-navigation .govuk-link[aria-current] {
  font-weight: bold;
}

// Allows feedback banner to have correct bottom margin.
.x-govuk-masthead {
  margin-top: 0;
}

.govuk-header label.govuk-visually-hidden {
  color: black;
}

.govuk-breadcrumbs__link {
  display: inline-block;
  min-height: 24px;
}
