{% macro phaseBanner(configuration) %}

{# Components #}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

<aside>
  {{ govukPhaseBanner(configuration) }}
</aside>

{% endmacro %}
