{% macro tags(tagList) %}
Tags: 
	{%- for tag in tagList | filterTagList %}
	{%- set tagUrl %}{{ "/tags/" | url }}{{ tag | slugify }}/{% endset %}
	[{{tag}}]({{ tagUrl }}){%- if not loop.last %}, {% endif %}
	{%- endfor %}

{% endmacro %}