---
eleventyExcludeFromCollections: true
permalink: /standards.json
---
{
  "standards": [
    {% for standard in collections.getAllStandardsOrderedByID %}
    {
      "id": "{{ standard.data.id }}",
      "title": "{{ standard.data.title }}",
      "url": "{{ standard.url | prefixWithRoot(siteRoot) }}",
      "date": "{{ standard.data.date | isoDate }}",
      "tags": {{ standard.data.tags | jsonStringify(2) | indent(6) }},
      "requirements": {{ standard.templateContent | extractRequirements | jsonStringify(2) | indent(6) }}
    }{% if not loop.last %},
    {% endif %}
{% endfor %}

  ]
}
