{% extends "layouts/collection.njk" %}

{% block main %}
  {% if phaseBannerConfiguration %}
  <div class="govuk-width-container">
    {% import "_includes/macros/feedbackBanner.njk" as feedback %}
    {{ feedback.phaseBanner(phaseBannerConfiguration) }}
  </div>
  {% endif %}

  {{ super() }}
{% endblock %}
