{% extends "../../node_modules/@x-govuk/govuk-eleventy-plugin/layouts/base.njk" %}
{#-
https://github.com/x-govuk/govuk-eleventy-plugin/blob/main/components/header/template.njk#L4-L6

The govuk header uses the layout name to remove the border for collection and product pages. Because we add the phase
banner, the border should be on all pages, so hide that this is a collection page.
-#}
{%- set layout="prevent-layout-specific-styling" -%}

{% block main %}
  {% if phaseBannerConfiguration %}
  <div class="govuk-width-container" data-axe-exclude="It is acceptable that this is outside a landmark region">
    {% import "macros/feedbackBanner.njk" as feedback %}
    {{ feedback.phaseBanner(phaseBannerConfiguration) }}
  </div>
  {% endif %}
  <section role="region" aria-label="Collection description masthead">
    {{ xGovukMasthead({
      title: {
        html: title | smart
      } if title,
      description: {
        html: description | markdown("inline") | noOrphans
      } if description,
      breadcrumbs: {
        classes: "govuk-!-display-none-print govuk-!-margin-bottom-0",
        items: breadcrumbItems
      } if showBreadcrumbs
    }) }}
  </section>

  {{ super() }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <section class="govuk-grid-column-two-thirds-from-desktop">
    {{ appProseScope(content) if content }}

    {% if paginationHeading %}
      <h2 class="govuk-heading-l govuk-!-font-size-27">
        {{ paginationHeading }}
      </h2>
    {% endif %}

    {% import "macros/contentDocumentList.njk" as documentList %}
    {{ documentList.contentDocumentList({
      headingLevel: 3 if paginationHeading else 2,
      classes: "app-document-list--large",
      items: pagination.items
    }) }}

    {{ govukPagination({
      previous: {
        href: pagination.href.previous
      },
      next: {
        href: pagination.href.next
      },
      items: pagination | itemsFromPagination
    }) if pagination.pages.length > 1 }}
  </section>


  <div class="govuk-grid-column-one-third-from-desktop">
    {% from "macros/navigationList.njk" import navigationList %}
    {{ navigationList(page.url, "Engineering guidance and standards", collections.homepageLinks) }}
    {% if aside or related %}
      {% include "layouts/shared/related.njk" %}
    {% endif %}
  </div>
</div>
{% endblock %}
