{% extends "layouts/content.njk" %}

{% block sidebar %}
  {% from "macros/navigationList.njk" import navigationList %}
  {{ navigationList(page.url, "Patterns", collections.getAllPatterns) }} 
{% endblock %}
