{% extends "layouts/content.njk" %}

{% block sidebar %}
  {% from "macros/navigationList.njk" import navigationList %}
  {{ navigationList(page.url, "Principles", collections.getAllPrinciples) }} 
{% endblock %}
