{% extends "../../node_modules/@x-govuk/govuk-eleventy-plugin/layouts/product.njk" %}

{#-
https://github.com/x-govuk/govuk-eleventy-plugin/blob/main/components/header/template.njk#L4-L6

The govuk header uses the layout name to remove the border for collection and product pages. Because we add the phase
banner, the border should be on all pages, so hide that this is a product page.
-#}
{%- set layout="prevent-layout-specific-styling" -%}

{% block main %}
  {% if phaseBannerConfiguration %}
    <div class="govuk-width-container" data-axe-exclude="It is acceptable that this is outside a landmark region">
      {% import "macros/feedbackBanner.njk" as feedback %}
      {{ feedback.phaseBanner(phaseBannerConfiguration) }}
    </div>
  {% endif %}

  {{ super() }}
{% endblock %}
