{% extends "../../node_modules/@x-govuk/govuk-eleventy-plugin/src/layouts/tag.njk" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{# Workaround for https://github.com/x-govuk/govuk-eleventy-plugin/issues/405 #}
{% set title = "Pages tagged with ‘" + tag + "’" %}

{# Don't include page X of Y in tag page titles #}
{% block pageTitle %}
  {{- title if title -}}
  {{- " - " + options.titleSuffix if options.titleSuffix -}}
{% endblock %}

{% block beforeContent %}
  {% if phaseBannerConfiguration %}
    {% import "macros/feedbackBanner.njk" as feedback %}
    <div data-axe-exclude="It is acceptable that this is outside a landmark region">
      {{ feedback.phaseBanner(phaseBannerConfiguration) }}
    </div>
  {% endif %}

  <nav aria-label="Breadcrumbs">
    {{ govukBreadcrumbs({
      classes: "govuk-!-display-none-print",
      items: [
        {text: "Home", href: "/" | canonicalUrl},
        {text: caption, href: "/tags/" | canonicalUrl}
      ]
    }) }}
  </nav>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ appDocumentHeader({
      title: title
    }) }}

    {% import "macros/contentDocumentList.njk" as documentList %}
    {{ documentList.contentDocumentList({
      headingLevel: 3 if paginationHeading else 2,
      classes: "app-document-list--large",
      items: collections[tag] | orderPagesByTitle,
      displayContentCategory: true
    }) }}

    {{ appProseScope(content) if content }}
    <p class="govuk-body">See <a class="govuk-link" href="/tags/">all tags</a></p>

  </div>
  <div class="govuk-grid-column-one-third-from-desktop">
    {% block sidebar %}
      {% from "macros/navigationList.njk" import navigationList %}
      {{ navigationList(page.url, "Engineering guidance and standards", homepageLinks) }}
    {% endblock %}
  </div>
</div>
{% endblock %}
