{% extends "layouts/tag.njk" %}

{% block beforeContent %}
  {% if configuration.phaseBanner %}
    {% import "_includes/macros/feedbackBanner.njk" as feedback %}
    {{ feedback.phaseBanner(configuration.phaseBanner) }}
  {% endif %}

  {{ super() }}
{% endblock %}
