{% extends "layouts/tags.njk" %}

{% block beforeContent %}
  {% if phaseBannerConfiguration %}
    {% import "_includes/macros/feedbackBanner.njk" as feedback %}
    {{ feedback.phaseBanner(phaseBannerConfiguration) }}
  {% endif %}

  {{ super() }}
{% endblock %}
