{% extends "layouts/tags.njk" %}

{% block beforeContent %}
  {% import "_includes/macros/feedbackBanner.njk" as feedback %}
  {{ feedback.phaseBanner(configuration.phaseBanner) }}

  {{ super() }}
{% endblock %}
