{% extends "layouts/tags.njk" %}

{% block beforeContent %}
  {% if phaseBannerConfiguration %}
    {% import "macros/feedbackBanner.njk" as feedback %}
    <div data-axe-exclude="It is acceptable that this is outside a landmark region">
      {{ feedback.phaseBanner(phaseBannerConfiguration) }}
    </div>
  {% endif %}

  <nav aria-label="Breadcrumbs">
    {{ super() }}
  </nav>
{% endblock %}
