name: build-and-publish-docker

on:
  pull_request:
    types: [ closed ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    uses: UKHomeOffice/sas-github-workflows/.github/workflows/publish-docker.yml@v2
    if: |
      github.event.pull_request.merged == true &&
      github.base_ref == 'main'
    with:
      image: 'quay.io/ukhomeofficedigital/engineering-guidance-and-standards'
      tag: ${{ github.sha }}
    secrets: inherit
