name: Deploy to Core Cloud

on:
  push:
    branches:
      - main

permissions:
  contents: read
  id-token: write
  actions: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CYPRESS_TEST_URL: localhost
  CYPRESS_TEST_PORT: 8080

jobs:
  s3-sync:
    name: Build, test, and sync to S3
    environment:
      name: core-cloud
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          ref: ${{ github.sha }}

      - name: Setup NPM cache
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'

      - name: Install
        run: npm ci --ignore-scripts

      - name: Audit
        run: npm audit

      - name: Build site
        run: npm run build

      - name: Start server
        run: npm run serve -- --port 8080 &

      - name: Wait for server
        uses: jakejarvis/wait-action@v0.1.1
        with:
          url: http://localhost:8080
          timeout: 60

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Run Playwright Tests
        run: npm run playwright:run
        env:
          TEST_URL: localhost
          TEST_PORT: 8080
          GITHUB_COMMIT_SHA: ${{ github.event.push.after }}
          SITE_ROOT: https://engineering.homeoffice.gov.uk/

      - name: Sync
        uses: UKHomeOffice/core-cloud-static-sites-action@0.2.0
        with:
          assume-role-arn: ${{ vars.ROLE_ARN }}
          cloudfront-distribution: ${{ vars.CLOUDFRONT_DISTRIBUTION }}
          bucket-name: ${{ vars.BUCKET_NAME }}
          working-directory: ./_site

