name: Deploy to Staging Core Cloud

on:
  push:
    branches:
      - staging/*

permissions:
  contents: read
  id-token: write
  actions: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  TEST_URL: localhost
  TEST_PORT: 8080

jobs:
  s3-sync:
    name: Build, test, and sync to S3
    environment:
      name: core-cloud-staging
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: ${{ github.sha }}

      - name: Setup NPM cache
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'

      - name: Install
        run: npm ci --ignore-scripts

      - name: Audit
        run: npm audit

      - name: Build site
        run: npm run build

      - name: Start server
        run: npm run serve -- --port ${{ env.TEST_PORT }} &

      - name: Wait for server
        shell: bash
        env:
          TIMEOUT_SECS: 60
        run: |
          elapsed=0

          while [[ "$(curl -s -o /dev/null -w ''%{http_code}'' http://${{ env.TEST_URL }}:${{ env.TEST_PORT }})" != "200" ]]; do
            sleep 1
            ((elapsed++))

            if [[ $elapsed -ge ${{ env.TIMEOUT_SECS }} ]]; then
              echo "Timeout waiting for http://${{ env.TEST_URL }}:${{ env.TEST_PORT }})"
              exit 1
            fi
          done

      - name: Cache Playwright Browsers
        uses: actions/cache@v5
        with:
          path: ~/.cache/ms-playwright
          key: playwright-browsers-${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            playwright-browsers-${{ runner.os }}-

      - name: Install Playwright Browsers
        run: npm run playwright:init

      - name: Run Playwright Tests
        run: npm run playwright:run
        env:
          TEST_URL: ${{ env.TEST_URL }}
          TEST_PORT: ${{ env.TEST_PORT }}
          GITHUB_COMMIT_SHA: ${{ github.event.pull_request.head.sha }}

      - name: Upload Playwright Report Artifacts
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: playwright-report
          path: playwright-report
          retention-days: 3

      - name: Publish CTRF Test Summary Results
        uses: ctrf-io/github-test-reporter@v1
        with:
          report-path: './ctrf/*.json'
          status-check: true
          status-check-name: 'Playwright tests'
          upload-artifact: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: always()

      - name: Sync
        uses: UKHomeOffice/core-cloud-static-sites-action@0.2.0
        with:
          assume-role-arn: ${{ vars.ROLE_ARN }}
          cloudfront-distribution: ${{ vars.CLOUDFRONT_DISTRIBUTION }}
          bucket-name: ${{ vars.BUCKET_NAME }}
          working-directory: ./_site
