name: e2e-tests-on-pr

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

env:
  TEST_URL: localhost
  TEST_PORT: 8080

jobs:
  e2e-test:
    runs-on: ubuntu-22.04
    container: cypress/browsers:node18.12.0-chrome107
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'npm'
      - name: Run Cypress Tests
        uses: cypress-io/github-action@v5
        with:
          browser: chrome
          build: npm run build
          start: npm run serve -- --port ${{ env.TEST_PORT }}
          wait-on: 'http://${{ env.TEST_URL }}:${{ env.TEST_PORT }}'
          config: 'video=false,screenshotOnRunFailure=false'
        env:
          CYPRESS_TEST_URL: ${{ env.TEST_URL }}
          CYPRESS_TEST_PORT: ${{ env.TEST_PORT }}
