name: e2e-tests-on-pr

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  TEST_URL: localhost
  TEST_PORT: 8080

jobs:
  e2e-test:
    runs-on: ubuntu-24.04
    container: cypress/browsers:node-20.5.0-chrome-114.0.5735.133-1-ff-114.0.2-edge-114.0.1823.51-1
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: 'npm'
      - name: Run Cypress Tests
        uses: cypress-io/github-action@v6
        with:
          browser: chrome
          build: npm run build
          start: npm run serve -- --port ${{ env.TEST_PORT }}
          wait-on: 'http://${{ env.TEST_URL }}:${{ env.TEST_PORT }}'
          config: 'video=false,screenshotOnRunFailure=false'
        env:
          CYPRESS_TEST_URL: ${{ env.TEST_URL }}
          CYPRESS_TEST_PORT: ${{ env.TEST_PORT }}
          GITHUB_COMMIT_SHA: ${{ github.event.pull_request.head.sha }}
