name: e2e-tests-on-pr

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  TEST_URL: localhost
  TEST_PORT: 8080

jobs:
  e2e-test:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'

      - name: Install
        run: npm ci --ignore-scripts

      - name: Audit
        run: npm audit

      - name: Build site
        run: npm run build

      - name: Start server
        run: npm run serve -- --port ${{ env.TEST_PORT }} &

      - name: Wait for server
        uses: jakejarvis/wait-action@v0.1.1
        with:
          url: http://${{ env.TEST_URL }}:${{ env.TEST_PORT }}
          timeout: 60

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps


      - name: Run Playwright Tests
        run: npm run playwright:run
        env:
          TEST_URL: ${{ env.TEST_URL }}
          TEST_PORT: ${{ env.TEST_PORT }}
          GITHUB_COMMIT_SHA: ${{ github.event.pull_request.head.sha }}



      - name: Publish CTRF Test Summary Results
        run: npx github-actions-ctrf ctrf/ctrf-report.json
        if: always()
